@font-face {
    font-family: 'neuropol';
    src: url('./neuropol.ttf') format('truetype');
    font-family: 'luna';
    src: url('./Luna.ttf') format('truetype');
}

/*HOME-BOILERPLATE CSS*/
/*HOME-BOILERPLATE CSS*/
/*HOME-BOILERPLATE CSS*/
/*HOME-BOILERPLATE CSS*/
/*HOME-BOILERPLATE CSS*/
/*HOME-BOILERPLATE CSS*/

.App-header {
  background-image: url('http://zabbyallen.com/user/pages/01.blog/freebie-friday-90s-inspired-backgrounds/triangles-background.jpg');
  height: 250px;
  padding: 20px;
  color: white;
  border-bottom: 10px solid #E54A42;
}

.App-header img {
  height: 200px;
  padding-top: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.App-body {
  background-image:url('http://cdn.playbuzz.com/cdn/1a417248-86f5-42cf-97b9-82aa1d0e7b41/696d2da1-a990-4fac-8dc1-76d2b4db4ff6.jpg');
  color: white;
}

.App-body ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 25px 0 0 0;
  margin: 0;
  justify-content: space-around;
}

.App-body img {
  height: 50px;
}

.theGang img {
  height: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.myMTV img {
  height: 70px;
  padding-left: 10px;

}
.App-footer {
  background-image: url('http://zabbyallen.com/user/pages/01.blog/freebie-friday-90s-inspired-backgrounds/triangles-background.jpg');
  border-top: 10px solid #E54A42;
}

.App-footer ul {
  font-family: 'neuropol';
  font-weight: bold;
  text-shadow: 0px 3px 3px black;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  color: #E54A42;
}

.App-footer img {
  height: 60px;
}

/*// ABOUT PAGE CSS*/
/*// ABOUT PAGE CSS*/
/*// ABOUT PAGE CSS*/

.About-band {
  margin-left: 20px;
  margin-right: 20px;
  color: #E54A42;
  background-color: #37ABE2;
  font-family: 'luna';
  font-size: 12px;
  padding-bottom: 10px;
}

.About-band img {
  padding: 12px;
  height: 170px;
  padding-top: 0px;
}

.About-band p {
  display: flex;
  padding-top: 10px;
  padding-right: 7px;
  margin-bottom: 0px;
}

/*// MEDIA PAGE CSS*/
/*// MEDIA PAGE CSS*/
/*// MEDIA PAGE CSS*/
/*// MEDIA PAGE CSS*/
/*// MEDIA PAGE CSS*/
/*// MEDIA PAGE CSS*/

.theSongsBody {
  width: 70%;
  height: 1300px;
  background-color:
  #37abe2;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.songtitle {
  font-family: 'neuropol';
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #fce946;
}

.tvtitle {
  font-family: 'neuropol';
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #E54A42;
}

.tvcontainer {
display: flex;
justify-content: center;
}

.Songs-body {
  background-image:url('http://cdn.playbuzz.com/cdn/1a417248-86f5-42cf-97b9-82aa1d0e7b41/696d2da1-a990-4fac-8dc1-76d2b4db4ff6.jpg');
  height: 1500px;
  color: white;
}

.Songs-body ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 25px 0 0 0;
  margin: 0;
  justify-content: space-around;
  margin-bottom: 20px;
}

.Songs-body img {
  height: 50px;
}

.theSongsContainer {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.Songs-myMTV img {
  height: 70px;
  padding-left: 10px;
  display: none;
}

.Songs-footer {
  background-image: url('http://zabbyallen.com/user/pages/01.blog/freebie-friday-90s-inspired-backgrounds/triangles-background.jpg');
  border-top: 10px solid #E54A42;
}

.Songs-footer ul {
  font-family: 'neuropol', sans-serif;
  font-weight: bold;
  text-shadow: 0px 3px 3px black;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  color: #E54A42;
  margin-bottom: 0;
}

.Songs-footer img {
  height: 60px;
}

.handwriting {
  font-family: 'Luna', cursive;
  color: #E54A42;
  margin-left: 20px;
}

.YO {
  font-family: 'Luna', cursive;
  color: #E54A42;
  font-size: 60px;
  line-height: 80px;
}

.theSongsLetter {
  display: flex;
  justify-content: flex-start;
}

/*HYPE PAGE CSS*/
/*HYPE PAGE CSS*/
/*HYPE PAGE CSS*/
/*HYPE PAGE CSS*/
/*HYPE PAGE CSS*/
/*HYPE PAGE CSS*/

.theHypeBody {
  width: 70%;
  height: 475px;
  background-color:
  #fce946;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.hypetitle {
  font-family: 'neuropol';
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #fce946;
}

.Hype-body {
  background-image:url('http://cdn.playbuzz.com/cdn/1a417248-86f5-42cf-97b9-82aa1d0e7b41/696d2da1-a990-4fac-8dc1-76d2b4db4ff6.jpg');
  height: 1500px;
  color: white;
}

.Hype-body ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 25px 0 0 0;
  margin: 0;
  justify-content: space-around;
  margin-bottom: 20px;
}

.Hype-body img {
  height: 50px;
}

.theHypeContainer {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.Hype-myMTV img {
  height: 70px;
  padding-left: 10px;
  display: none;
}

.Hype-footer {
  background-image: url('http://zabbyallen.com/user/pages/01.blog/freebie-friday-90s-inspired-backgrounds/triangles-background.jpg');
  border-top: 10px solid #E54A42;
  margin-top: 20px;
}

.Hype-footer ul {
  font-family: 'neuropol', sans-serif;
  font-weight: bold;
  text-shadow: 0px 3px 3px black;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  color: #E54A42;
  margin-bottom: 0;
}

.Hype-footer img {
  height: 60px;
}

.handwriting {
  font-family: 'Luna', cursive;
  color: #E54A42;
  margin-left: 20px;
}

.reviewsheadline {
  font-family: 'neuropol';
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #37abe2;
}

.reviewsheadline a:visited {
  color: #37abe2;
  text-decoration: underline;
}

.reviewsheadline a:hover {
  color: #37abe2;
  text-decoration: underline;
}

.reviewsheadline a:link {
  color: #37abe2;
  text-decoration: none;
}

.reviewcontent {
  font-size: 12px;
  font: arial;
  color: #E54A42;
  padding-left: 20px;
  padding-right: 20px;
}

.reviewlink {
  font-family: 'Neuropol', sans-serif;
  font-size: 12px;
  color: #37abe2;
  margin-top: 10px;
  padding-left: 20px;
}

.reviewlink a:link {
  color: #37abe2;
  text-decoration: none;
}

.reviewlink a:hover {
  color: #37abe2;
  text-decoration: underline;
}

.reviewlink a:active {
  color: #37abe2;
  text-decoration: underline;
}

.reviewlink a:visited {
  color: #37abe2;
  text-decoration: underline;
}

.Joey-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Joey-note {
  margin-left: 30px;
  margin-right: 20px;
  color: #E54A42;
  font-family: 'luna';
  font-size: 12px;
  padding-bottom: 10px;
}

.YO-Joey {
  font-family: 'Luna', cursive;
  color: #E54A42;
  font-size:50px;
  line-height: 80px;
  margin-right: 20px;
}

.article {
  margin-top: 40px;
}
